<template name='layoutOne'>
		<nav>
			<div class="nav-wrapper">
				<a class="brand-logo" href="{{pathFor route='home'}}">Home</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{pathFor route='home'}}">Home</a></li>
					<li><a href="{{pathFor route='tasks'}}">Tasks</a></li>
					<li><a href="{{pathFor route='tasks2'}}">Tasks2</a></li>
					{{#if currentUser}}
						<li><a href="{{pathFor route='home'}}" id='sign_out'>SignOut</a></li>
					{{else}}
						<li><a href="{{pathFor route='connection'}}">SignIn</a></li>
					{{/if}}
				</ul>
			</div>
			<div class="nav-wrapper">
				<div style="float: right">
					{{> loginButtons}}
				</div>
			</div>
		</nav>
	<article>	
		{{> yield}}
	</article>
</template>